<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.yurwisher.dota2.pudge.system.mapper.SystemButtonMapper">

    <select id="getUserButtonNodes" resultType="pers.yurwisher.dota2.pudge.system.pojo.tree.ButtonNode">
        SELECT
            m.id,m.button_name,m.sort_no,m.icon,m.click,m.menu_id as pid,m.position
        FROM
            user_role_relation r
        INNER JOIN system_role sr ON sr.id = r.role_id
        INNER JOIN role_button_relation mr ON mr.role_id = sr.id
        INNER JOIN system_button m ON m.id = mr.button_id
        WHERE
            r.user_id = #{userId}
        AND sr.enabled = 1
        AND m.enabled = 1
        GROUP BY
            m.id
        ORDER BY
            m.sort_no
    </select>

    <select id="getAllButtonNodes" resultType="pers.yurwisher.dota2.pudge.system.pojo.tree.ButtonNode">
        SELECT id,button_name,sort_no,icon,click, menu_id as pid,position
        from system_button where enabled = 1 ORDER BY sort_no
    </select>
</mapper>
