<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.yurwisher.dota2.pudge.system.mapper.SystemLogMapper">
    <select id="list" resultType="pers.yurwisher.dota2.pudge.system.pojo.to.SystemLogTo">
        SELECT
        s.id,s.action, s.date_created, s.ip, s.address, s.user_id,
        s.method, s.time_cost, s.type, s.system,browser,
        u.nickname
        FROM system_log s
        LEFT JOIN system_user u ON u.id = s.user_id
        <where>
            <if test="qo.logUserId != null">
                s.user_id = #{qo.logUserId}
            </if>
            <if test="qo.type != null">
              and s.type = #{qo.type}
            </if>
            <if test="qo.keyWord != null and qo.keyWord != ''">
                and (
                  s.method like concat('%',#{qo.keyWord},'%') or
                  s.action like concat('%',#{qo.keyWord},'%') or
                  s.params like concat('%',#{qo.keyWord},'%') or
                  s.error_info like concat('%',#{qo.keyWord},'%')
                )
            </if>
        </where>
        ORDER BY s.date_created DESC
    </select>

    <select id="get" resultType="pers.yurwisher.dota2.pudge.system.pojo.vo.SystemLogVo">
      SELECT params,error_info from system_log WHERE id = #{id}
    </select>
    <select id="userLogList" resultType="pers.yurwisher.dota2.pudge.system.pojo.to.UserSystemLogTo">
        SELECT
        action, date_created, ip, address
        from system_log
        where user_id = #{qo.userId}
        and type = 1
        ORDER BY date_created DESC
    </select>

</mapper>
