<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.yurwisher.dota2.pudge.system.mapper.SystemNoticeMapper">
    <select id="list" resultType="pers.yurwisher.dota2.pudge.system.pojo.to.SystemNoticeTo">
        SELECT id,title,date_created,last_updated,start_date,end_date,type from system_notice
        <where>
            <if test="qo.type != null and qo.type != ''">
                type = #{qo.type}
            </if>
            <if test="qo.title != null and qo.title != ''">
                AND title like concat('%',#{qo.title},'%')
            </if>
        </where>
        ORDER BY date_created DESC
    </select>

    <select id="get" resultType="pers.yurwisher.dota2.pudge.system.pojo.vo.SystemNoticeVo">
      SELECT title,date_created,content,type,start_date,end_date from system_notice where id = #{id}
    </select>

</mapper>
